*{
    margin: 0;
    padding: 0;
    font-family:sans-serif ;
    background-color:rgb(161, 55, 207);
    background-size: contain;
    
}

navbar{
    padding:20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(17, 15, 15);
    font-weight: bold;
}
h1{
    
    font-family:cursive;
    color: rgb(134, 192, 19);
    text-align: center;
    font-weight: bold;
    height: auto;
}

.content{
    margin-left: 8%;
    margin-top:10% ;
    
}
.content h2{
    font-size: 25px;
    color: rgb(95, 179, 12);
    margin-bottom: 20px;
    font-family: cursive;
}
.content a{
    background-color: rgba(23, 21, 21, 0.597);
    padding: 10px 18px;
    font-weight: bold;
    color: rgb(9, 136, 11);
    display: inline-block;
    margin: 30px;
    border-radius: 5px;
}

    
    



